
/* Your CSS Code here. */

.container {
  max-width: 600px;
  border: 5px solid rgb(4, 255, 4);
  background-color: rgb(41, 0, 0);
  margin-top: 20px;
}

.container .row {
  border: 5px solid rgb(255, 188, 188);
  /* height: 200px; */
}

.container .row > div {
  border: 2px dotted rgb(38, 38, 43);
  display: flex;
  height: 200px;
}

.container .row:nth-of-type(1) > div:nth-child(1) {
  background-color: teal;
}

.container .row:nth-of-type(1) > div:nth-child(2) {
  background-color: thistle;
}

.container .row:nth-of-type(2) > div:nth-child(1) {
  background-color: tomato;
}

.container .row:nth-of-type(2) > div:nth-child(2) {
  background-color: turquoise;
}


.container .row:nth-of-type(3) > div:nth-child(1) {
  background-color: violet;
}

.container .row:nth-of-type(3) > div:nth-child(2) {
  background-color: yellowgreen;
}
